<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNOakNDQVI2Z0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTFNRGt5TkRBNE5UUXgKTTFvWERUSTFN
	RGt5TVRBNE5UUXhNMW93QURDQm56QU5CZ2txaGtpRzl3MEJBUUVGQUFPQmpRQXdnWWtD
	Z1lFQQoxQ3A0R3kxNVNiejVWOU5CaTk4R3IrL09QdWhsSmczTmFXNnJPTjUxOU1aeVF3
	TGgzNXdVS1FGZnY2dkdaRTlDClhJSC9CZjFlM0JPZU1LVFRlMEJuVkllUWlIaWpIaVdC
	VlY0cFhnVTVBWHg5ZU9ubG5rVDdnSG5ySklPb1l1bEgKT1JQMjJJTHVkeE91ZDJ2OHYr
	NEpxa1dXelJLZVByOXJTMUU5akRFdFFKRUNBd0VBQWFNL01EMHdEQVlEVlIwVApBUUgv
	QkFJd0FEQWRCZ05WSFE0RUZnUVVtQ0RTbHIrd3RXNWNCVk9hMjVXZDhIQmxidHN3RGdZ
	RFZSMFBBUUgvCkJBUURBZ1dnTUEwR0NTcUdTSWIzRFFFQkJRVUFBNElCQVFDUld1U0ZD
	V1Zkd0hLY1AvWTREQXZIcHRBbThtMmIKQmNPZzRWTmhmTkFKZjdqUWYzSFR0dVJxWVhj
	b21nZDZaeTdYZVVSMFRmRTFtQmtHWENaMkJyNkNTamVxSDYzbApZWmQwK3hvQi96NVJE
	TVR5WTNUVm01cUJLaGhMMUlYTUkyTGFtK2NOTE9XcUxSb2pZbUdzNmhwNGV3TkZtb2R0
	Cm95ZkJtVWkrTFlGNXFzZTVITnBHVkc3OTNHMktkWTJuV0srTGFPcGFWNkZpYzVqd1lY
	MlkzL0dSYTVVNlhiYkoKYzBBSytnb3dNRDZtMkVnRHFxRXYwQlhxN2hYN09FbEdENkdk
	SmFNVG5SdFBUaXoxVjJZSmlsdFdndVJEQ3RJUQp2c3VneUhnVWFsSk1OeTV0OEkwVVVQ
	UXFrK0JzZ25zQjVaa0lONFQxQ2g3ZkN0QThPM0R5QXordwotLS0tLUVORCBDRVJUSUZJ
	Q0FURS0tLS0tCg==
	</data>
	<key>EscrowBag</key>
	<data>
	/MKwcSA4J0VpH+ZVptWsmcLF3I8JKtheFYof+6x2isw=
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTFNRGt5TkRBNE5UUXgKTTFvWERUSTFN
	RGt5TVRBNE5UUXhNMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU1zcG5palFDZEthYnN3a1N1VDNxejF1V2s4d1lFc05aeHU0S285ZXlJ
	VFFJTkFCNWVNTStYZmJuZ2tiCjl6Y08zK1BEYUEvOXRIZ1pFc2FrWEpGRVI5WDRkQ3Za
	dWhQYjlLZlczQVgxWm90cTdZVlp5NW9DNDIwZnpqYloKaFFPYngxR0RSOTMza0QzNHlI
	SEhnMVBWUTFhY1lhZ2hzSTd5Q3I5TXBnZ1lNajN4SjQ1dmd0eksvVE1jSHZRRApyMUVX
	QVJKQ1NzWXdyanFrUFN0TGFIZ3B1OThEWGpKT25qd1Ztd2RaK3dUSGREWnlkQXpud3FH
	ZWFObWI2VVNhCkhlaEYxMmZnSG5aR09uRE02VCtIbmpHTDFCVzUxZWV2cHZpb2J3aWwz
	a0lyakJkcFoyUldEd3JoNmljS254aDgKWisvam5RRFNHclMybVA1TFdxOWYyOVNlSnZz
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVWVPcUtT
	Ymp0UzZoMjhsRG5ZS2J5Q1RhclVRSXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUQzSDF6Qm9CK2NqOENzaXRWcFNwNTBMVFg4Q1h5OEx6
	amFSSGhOOElWUldFYm8Ka2F6eFptbVUwam5HcTEzYVNQK2trdEVka2RyN3VvaHllL1dl
	andmQzlZTjk1cHdPNGR2elBOZkVUN0dpbkdGTgpWdUFBb1l3SkF3a0s3Mnk0SUNZTDdB
	SUlRaUMzSVNKdHJlTGg4M2k0ek5JZWJuN0dLTHZ5Y2FzYXE5Z0tjejRZCkg5cDZZTEV6
	bGRzQml6TG45TFFSTkNqQjVrYzBHOHpjbXQ2MnVKS1NGV1ZqV3EwYmhoZjdiOFlwR1lR
	dUZDbEMKNTJ2QU5iWXNVOVRvZGltVHhjbDluTnhLZVcra3pUZnRyU3luSjd1L1pTQlRu
	RmtDc1MzOUVNM0hzVzVCaU1UcQpHUzRHRytWV1Ixamw1VElNUDJ5Y2t3cVFtTmtQOHc3
	SzBCNm9UWlZ0Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
	</data>
	<key>HostID</key>
	<string>30471846-177820635591262240</string>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFb3dJQkFBS0NBUUVBeXlt
	ZUtOQUowcHB1ekNSSzVQZXJQVzVhVHpCZ1N3MW5HN2dxajE3SWhOQWcwQUhsCjR3ejVk
	OXVlQ1J2M053N2Y0OE5vRC8yMGVCa1N4cVJja1VSSDFmaDBLOW02RTl2MHA5YmNCZlZt
	aTJydGhWbkwKbWdMamJSL09OdG1GQTV2SFVZTkgzZmVRUGZqSWNjZURVOVZEVnB4aHFD
	R3dqdklLdjB5bUNCZ3lQZkVuam0rQwozTXI5TXh3ZTlBT3ZVUllCRWtKS3hqQ3VPcVE5
	SzB0b2VDbTczd05lTWs2ZVBCV2JCMW43Qk1kME5uSjBET2ZDCm9aNW8yWnZwUkpvZDZF
	WFhaK0FlZGtZNmNNenBQNGVlTVl2VUZiblY1NittK0todkNLWGVRaXVNRjJsblpGWVAK
	Q3VIcUp3cWZHSHhuNytPZEFOSWF0TGFZL2t0YXIxL2IxSjRtK3dJREFRQUJBb0lCQUF0
	SEZpYUIxZW5BOU9HVQpLaXducTNQUGltZlc4YUY0N3Y1VTdOZmtsUkQ2VkxmM1F3R2xt
	THVVajJOR0VDVVlTRWxtY1lKaHZRRGxzMnNmCmVKdi94RlVXWTZ5RGU1YmFvT3dvT3pL
	QmV0M0dZOFVCUlJJWmt2SmR6NTZ2Mkhob3oxbXhCZTVHYmRWaTJBMm8KMjV0dHZUMHps
	U0EyTG96ZzFzUGp4MXV2ckNwUC9VQXd1b3ZuV3d0M0M4am9HS2tCM1dwbXAzL0preXBy
	dmRWWQpWR1h0c2M4WXJlSmlsZ2xCb3lhYk9rZDYzV2RMck8rNVkvVWwzSVhwelVmVDI5
	T1lSTWNqWXJsMHZYU3dFSHJkCktxZDlmd24yUGxVcmp0Z2ZxcFBuOVhBWExmTTZtQU9D
	em8vNDFZa21QeEV1Z01HMHl1VzZ2MlNMeDR4VUREREEKZmYvd29oRUNnWUVBL2k5cHRS
	cW9kVFNYTTFXNHZ0bWVyUk55YTBFRXp0UkJSaE55ZEdmYnBuQ2xFZURTT0FKbApwWVV6
	RytpcWwvOUgwcDVtTjY3OG5RR3JyWnRsenpxNldCSkNMWXZva21JS2x0Rng4WkJhMXJz
	cm5IS1FNZ0V0CjZIWW1HMnI2UStCeU5pdDdtSkJUNUVJVHhWMGs0RTc3QkV3T3dnaTlq
	alFjZEpCZGxURFpMNDhDZ1lFQXpKenkKd0tBVllEK3NoU3BWaG1vUEp6anVhNFdvbzVa
	UVhyMVhvbXNTMmlBVm0rWitNd0llaktSM0IzT1NDQjB4N3IwRApteGc0c0dwc0kxYnZG
	dGdLYW1nS3ZYekZDS1N0YVNuK05JajVYSWVrVEtPUzNDWXEwY0YzcFFBK2dpdGpETU9Q
	CjNnR1FUemducThCTVJuUG5rYUh0NlI0SEcvTzZuU25NTGg4Q205VUNnWUVBMWsxM0cv
	K3J3NVZoWFNDS3NDMmUKQUdJQzk3WkxyVzE2MHZBV2NWb1c4RTdNZlRSRlNIK00zMjVi
	MXMzazlsMStXbTY5MDNpdTlsaXdPNkJteDc3RgoyUGNiNEhheTBLZmtNWi9JSjFnRG5r
	TVQwOFVyR1YyeExPcGYyb0hwR2swalBkU1BVZU50TjJjV2NESEZvM0F6ClpqNFJ1em5Q
	UnhOY1lsSk05RG5KQXJVQ2dZQmZWVlVKaU16TTNuMzhRYUE5azFiaUdIV0ZwVzNRWW0y
	cDVxQloKTFhoSUp5REtWWmRCSHVDcStNbjRyOUUvZEpMYVFEalkzMjB5VFRON043c0lN
	cnFQbjFBNXYxTnlWbi94ZXI1VgpMZWk1UXYyN000OXVnVjM4QXg5Q3dwMWRPdWZZZjVt
	ZGY2OEVLZzdaeUN3QnUya09ncHI5dlo3a1dDZi9xQVRaCkRGdkR6UUtCZ0ZIZy9MREpI
	R3E3bzljUmRjWjhwK1hmTDZrTlI5eVJxejNsUWxxWHFSd0dUYjJkVWpXMjhtUkQKU3Q5
	eDdnR1VIQ3dFclIvT3hYR3FXeHhpV3kveWlsd01KaDZCQVl5REhoVW1RWTRndVAvcUww
	ZytPUHlneitmNwo5ZmxtMU5vWFhJbUZzNlhRSWVzdHJzbk1Ea3VKS1lWbEh4VURTcFAy
	VmFHMXJ3bXpKb1g4Ci0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tCg==
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNyVENDQVpXZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERURTFNRGt5TkRBNE5UUXgKTTFvWERUSTFN
	RGt5TVRBNE5UUXhNMW93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQVBnRE5MN3dHM0xKeUJnUzlKQnZINVZjM0FWYXR6SUJ5eWFHa3FZUUJw
	QXNFSlBRdmhzYVBTTStnUld3CnNxUTR1SGo2dGN3WGxDVDByeG1sL3RrV3VRZmhKYXA0
	dWc3d1hqWGs0cGo3ZWhld2ZGdUIwTkVzUEJkbHJ4TWIKcFRKZWU1RDdPQXFuOXpka1Jk
	M3lVVTNydmo4Z0tONXdRbXluaTZwdGxDU1pWdC8rNWNFN2tJMDFvdWxkYTlmZQppNk5F
	T0xjY2ZzUU11WFdBYW4zMGtMKzNUdzBRVDFPMWI2ck9MTkROOGVuZ2ZLZk44TW8vcjBv
	Y1FSc2FJbDlQCllzZE9CSC9CaUJQLzRiVGtobkoxdTJuZC9JYWtWYVFSbGRJWWFpeHZ3
	ckkxZnJseU84MkNWTW0wR3YzNGI2QXIKRno2TGpuTTdCOFRuOTBUbXNnTVpOeVQ3SnQ4
	Q0F3RUFBYU15TURBd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZApCZ05WSFE0RUZnUVVY
	ZUgyMkFwR3FRdCtNaVEvejZMdk1QWWxWS3N3RFFZSktvWklodmNOQVFFRkJRQURnZ0VC
	CkFKQ29LYmZHclQ5MmxUVHRkK1Vnc2MxRk9UMmJRR0UyQWRDTHJsTEliVTZHZklTRmgx
	bkpVQXd3Qis2eXQzcnMKZS8wOE1MOTZOUDFVZHVuN0dCd0lPK0pOc2JVWjluZGh2N0sr
	eHVnMWl1Qm1rR3VEYnJFdTMyQ2tzWSs4Y0xjVAo5R2lkWkFyVU1RSFdmZFFNQWM0MVNw
	Yy9IWTQ5bXhNZDloOGRWRit2WmRIdHhYNmsvZjFvQitscXlodFEyd0NYCnU2WHltZEVt
	QlRGY1FxTW1mQmtkeCtYcjhqYU8vVXN0STV0K2hNR1JwUGFIREtZTEZ3NnVnV3Q1WUlk
	R081bkMKcUY2cncwQVo0M1hQM1NpL2U4S3JvZ0JIdmFaMnhyMytoSitSV0pWREVuR2Mv
	U3dmQ1FlS2ovNHJBMktUdUd2WgpOV0R1dVQyZ2s2L2dSblFjYmhYRzhDVT0KLS0tLS1F
	TkQgQ0VSVElGSUNBVEUtLS0tLQo=
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBK0FN
	MHZ2QWJjc25JR0JMMGtHOGZsVnpjQlZxM01nSExKb2FTcGhBR2tDd1FrOUMrCkd4bzlJ
	ejZCRmJDeXBEaTRlUHExekJlVUpQU3ZHYVgrMlJhNUIrRWxxbmk2RHZCZU5lVGltUHQ2
	RjdCOFc0SFEKMFN3OEYyV3ZFeHVsTWw1N2tQczRDcWYzTjJSRjNmSlJUZXUrUHlBbzNu
	QkNiS2VMcW0yVUpKbFczLzdsd1R1UQpqVFdpNlYxcjE5NkxvMFE0dHh4K3hBeTVkWUJx
	ZmZTUXY3ZFBEUkJQVTdWdnFzNHMwTTN4NmVCOHA4M3d5ait2ClNoeEJHeG9pWDA5aXgw
	NEVmOEdJRS8vaHRPU0djblc3YWQzOGhxUlZwQkdWMGhocUxHL0NzalYrdVhJN3pZSlUK
	eWJRYS9maHZvQ3NYUG91T2N6c0h4T2YzUk9heUF4azNKUHNtM3dJREFRQUJBb0lCQVFD
	Y3A4bkZZWHkxQU9lMgo3U0kxcVR0VjZSWEEvQkFETWtiVHl1VU9wOGk5Z0Zmb1JrNE9h
	SUI5cHBsNnplWEkvVnJvYjlRdFdpZGxRSGpwCnhvUTNNN2NrVnY2bnN5SXpGWGtzcWFy
	SDN2Qzd6ZXAvRW55SDQxMEJtbVQvdU5LY0Fqb2kxY3dNVHhSRWxMM2MKOTVhTGxZRFI5
	c3BaMXFiZVl1WkJmSDI2c0hERGdzdmpGVWtNbExYTThVUWtabTlCZTZCVTdSRHl4Y0Jm
	cUZNYwowcGhCcS9IdEJWc1AwUTdwcDlxb3hLNzY1OFVqYUwrZHI0ZnYyQWVNbWI1emRP
	c2tzcDZqV0lOMTFCdERZclYrCkJKc3FaQUkxcEJLdHNMQmxYVzNveXJueUFzUUZTQWZG
	OTdkalpLQm03cm5odS80cU1FanhXVFhzL3RTU25tdUEKYmY2SDEwSkJBb0dCQVB3dUVz
	L1FXWUEyMmtFaUplRGJnb1Y4L29iTitJN0hqeE9ZM0plQVR6V0tVYkJHNXE2TApLUUM5
	cXRRaVlOUmlwdTkzSDdGZk1rbndHenpzVWl2b05zVkpvZXA1SWtyM1Q3Z2k4Q2E4eVV5
	MlM1cWVBS3B4CmJkVDc0b2V5VXFjS0JWMHVvYUp1WVc0cjNoNlh6OTNtTVNrT2ZobjVQ
	YWpwalg0aUJGckNYeWM1QW9HQkFQdkUKK0x6M1dlNStJRGFmWkpiWDBWS05lSmVjNHVX
	QnlJNWxuV3ZnTi9ic1FFUUpXQUJieWFnbWI1UTRtais4Nm01WgpWdEswM1UzWFp3VFZK
	ZkNJK0xPQzNLa3F6NkZ1RUxzMW5BakwyNzA4VlRkS09EYVFmdTFRRC9KcTVJTVY0bU1a
	CkZJTDkwWE91Z3hpYSs5MWNVaEN2V3ZPTHFyRXlHQWg1TSsvRWRPYlhBb0dBYUxXSXdo
	azAwSFAyTTgxR0JST2cKSW1WQUdpRXo3N1VVeDRKVk5lTGxBTW9xR1JPWGZTbnpJSWVn
	Z3V5elgveUdiQy8rVE52R09jVWt5aXNtQTIwcwpNTWJlSUVtajM1VEkyU0JJcnd6OFdJ
	bm80bzV3b0ZUdzBkcTB1THRtYmsxTzVONFQ1eW9GOG9Uc2VhOTNkQis4CmtkdWVxSkpB
	OC8zbDdsV1prVVhiMUtFQ2dZQjQwOEw4RFVsZnA3QVdCdERqZzVlMW9xZHBPNlc0dDF4
	azJtZCsKU2hFUnM3Zno3dmdJMUFRbmFxckoyNUJMWG9LemlyU2NVcWlTbnZtVjNDVmxG
	cGNrcjN6dXd0ajZoRFFMWkdNSgo1YXdEV1YwY044WmFpV1lneGZlaFE2Ti9OWlY4TWFF
	aWJHV0V1dyszVTBua3BsWE1KQnZtSGZWQkxPVlR5N2NkCkxvOWI2UUtCZ1FERE9zc3dC
	Q3pNWFZYYTdhMXdrUmtyZGxLWmJpTjU0SWZYZmljZDVjY24xZWhtemU1SUVlRHgKWmth
	Z0VMMFRTU2FpNGQ3aTNSMTFDTXVrNkxJZ2lnRW9zSHVDMzl3WStZcC8rcXhONktXUXlQ
	YkdhVi9KSy9PSwp3a24vaTQ1a04yNVp2dmYycmcvMlpXc2JnZitJOWx3WlB5K2dZSk9w
	RmtIL2NaNUt4VHFJa0E9PQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo=
	</data>
	<key>SystemBUID</key>
	<string>30468877-1540049998118655484</string>
	<key>WiFiMACAddress</key>
	<string>14:8f:c6:1b:db:7c</string>
</dict>
</plist>
